player-connection-mode=Listen
player-connection-guid=2991501404
player-connection-debug=0
player-connection-project-name=Game Off 2024 - Frogs and Heart
player-connection-ip=192.168.1.60
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=579844fa7c084c638d7ee7b3c94cea98
